html
{
	font-family: sans-serif, serif;
}
.container-fluid
{
	padding: 60px 50px;
}

.typewriter
{
	width:fit-content;
	height:fit-content;
	text-align: center;
	margin:0 auto;
}
.typewriter h3
{
	color: #fff;
	overflow: hidden; 
	border-right: .15em solid white; 
	white-space: nowrap; 
	margin: 0 auto; 
	letter-spacing: .1em; 
	animation: 
	  typing 4s steps(30, end),
	  blink-caret .5s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: white }
  }
.menulink
{
	text-transform: lowercase;
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
}
.btnjumbo
{
	margin-top:15px;
}
h2
{
	line-height: 1em;
	margin-bottom: 1em;
}
/*
typing effect
*/
@keyframes title
{ 
	from { width: 0; opacity: 0.0;}
	to { opacity: 1.0; } 

} 
/* typewriter cursor effect */
@keyframes blink-caret 
{
	from, to { border-color: transparent }
	50% { 
		border-color: white; 
	}
}
/*
Only for Desktop, these styles will apply
*/
@media only screen and (min-width: 768px) {
	li a:hover
	{
		border-bottom: 2px solid red;
	}
}
.highlight
{
	border-left:solid 10px red;
	font-size:2em;
	margin-left:5px;
	padding-left:1px;
}
.logo-skills {
    color: #f4511e;
    font-size: 50px;
}