html
{
	font-family: sans-serif, serif;
}
.menulink
{
	text-transform: lowercase;
}
.description
{
	text-align: justify;
}
.jumbotron
{
	background-color: #f4511e;
	color:white;
}
.btnjumbo
{
	margin-top:15px;
}
h2
{
	line-height: 1em;
	margin-bottom: 1em;
}
/*
Only for Desktop, these styles will apply
*/
@media only screen and (min-width: 768px) {
	li a:hover
	{
		border-bottom: 2px solid red;
	}
}
.highlight
{
	border-left:solid 10px red;
	font-size:2em;
	margin-left:5px;
	padding-left:1px;
}
.section
{
	padding-left: 5em;
	background-color: #f6f6f6;
}
.logo-skills {
    color: #f4511e;
    font-size: 50px;
}