html
{
	font-family: sans-serif, serif;
}
.container-fluid
{
	padding: 60px 50px;
}
.menulink
{
	text-transform: lowercase;
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
}
.btnjumbo
{
	margin-top:15px;
}
h2
{
	line-height: 1em;
	margin-bottom: 1em;
}
/*
Only for Desktop, these styles will apply
*/
@media only screen and (min-width: 768px) {
	li a:hover
	{
		border-bottom: 2px solid red;
	}
}
.highlight
{
	border-left:solid 10px red;
	font-size:2em;
	margin-left:5px;
	padding-left:1px;
}
.logo-skills {
    color: #f4511e;
    font-size: 50px;
}